/* CSS du hall of fame */
#corpsHOF  {
    visibility: visible;
    background-color: black;
    color: white;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}